* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.add-task {
  margin-top: 20px;
  display: flex;
  gap: 4px;
}

.task {
  display: flex;
  gap: 4px;
  margin-top: 20px;
}
.heading {
  color: brown;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font: size 20px;
}
.img {
  margin-top: 30px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.b1 {
  border: none;
  padding: 8px;
}
.in {
  border-style: dotted;
  border-radius: 5px;
  padding: 8px
